<div class="offline-doc index-page" style="width:100%;">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">

      <div class="container">
          <div class="navbar-translate">
              <a class="navbar-brand" href="../examples/dashboard.html">Atrix Dashboard </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
        				<li class="nav-item">
        					<a class="nav-link" href="../examples/dashboard.html">Back to Kit</a>
        				</li>
        				<li class="nav-item">
                  <a class="nav-link" href="https://github.com/creativetimofficial/material-dashboard/issues">Have an issue?</a>
                 </li>
              </ul>
          </div>
      </div>
    </nav>

    <div class="page-header header-filter clear-filter" style="background: url('../assets/img/cover.jpg');width:100%;">
      <div class="container">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="brand">
            <h1>Polio management System
            </h1>

            <h3 class="title " >Doctor's Panel</h3>
            <br/>
            <a routerLink="/login" class="btn btn-white btn-round">LOGIN</a>
            <!-- <a routerLink="/login" class="btn btn-white btn-round"></a> -->
          </div>
        </div>
      </div>
    </div>


    <footer class="footer ">
      <div class="container">
          <nav class="pull-left">
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="http://presentation.creative-tim.com">
                         About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                         Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/license">
                          Licenses
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright pull-right">
              &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
      </div>
    </footer>


    </div>
